<.div class="border-l border-gray-200 pl-4 ml-4">
  <h2 class="text-lg font-semibold mb-2">Users Online</h2>
  <ul phx-update="append" class="space-y-1">
    <li :for={user <- @users} id={"user-#{user.name}"} class="text-sm text-gray-700">
      <%= user.name %>
    </li>
  </ul>
</.div>
